* {
    margin: 0 auto;
}

.kranky-regular {
    font-family: "Kranky", serif;
    font-weight: 400;
    font-style: normal;
  }

html {
    font-family: "Kranky", serif;
    font-size: 20px;
}

body {
    color: rgb(164, 209, 73);
    border: 1px solid white;
    background-color: hsl(43°, 29%, 87%);
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 1em;
}

nav {
    align-items: center;
    height: 100%;
    width: 15%;
    background-color: rgb(85, 86, 88);
    margin-left: 0;
    text-align: center;
    grid-column: 1 / 2;
}

nav .hover-content {
    margin-right: 3em;
    transform: translate(10%, 0);
}

nav .logo {
    width: 6em;
    height: auto;
    margin: 0 auto;
}

main {
    background-color: rgb(4, 53, 73);
    display: grid;
    width: 100%;
    text-align: center;
    grid-column: 2 span 3;
}

.mainheading img{
    padding: 2em;
}

.first_section {
    padding-top: 2em;
}

.second_section {
    padding-top: 2em;
}

.third_section {
    padding-top: 2em;
}

h1 {
    color: rgb(146, 179, 81));
    text-align: center;
}

p {
    color: rgb(146, 179, 81);
}

a {
    color: rgb(3, 217, 255);
    text-decoration: none;
}

a:hover {
    color: red;
    transition: 400ms 
}

ul {
    list-style: none;
    padding-right: 1em;
}

.howdeedo {
    background-color: cyan;
    width: 80%;
    height: auto;
    align-items: center;
}